<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="titleCrew">
            <h2><span jhiTranslate="netzonApp.titleCrew.detail.title">Title Crew</span> {{ titleCrew.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="netzonApp.titleCrew.directors">Directors</span></dt>
                <dd>
                    <span>{{ titleCrew.directors }}</span>
                </dd>
                <dt><span jhiTranslate="netzonApp.titleCrew.writers">Writers</span></dt>
                <dd>
                    <span>{{ titleCrew.writers }}</span>
                </dd>
                <dt><span jhiTranslate="netzonApp.titleCrew.titleBasics">Title Basics</span></dt>
                <dd>
                    <div *ngIf="titleCrew.titleBasics">
                        <a [routerLink]="['/title-basics', titleCrew.titleBasics?.id, 'view']">{{ titleCrew.titleBasics?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/title-crew', titleCrew.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
