<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-name-basics-heading" jhiTranslate="netzonApp.nameBasics.home.createOrEditLabel">Create or edit a Name Basics</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="netzonApp.nameBasics.primaryName" for="field_primaryName">Primary Name</label>
                    <input type="text" class="form-control" name="primaryName" id="field_primaryName"
                           formControlName="primaryName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="netzonApp.nameBasics.birthYear" for="field_birthYear">Birth Year</label>
                    <input type="number" class="form-control" name="birthYear" id="field_birthYear"
                           formControlName="birthYear"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="netzonApp.nameBasics.deathYear" for="field_deathYear">Death Year</label>
                    <input type="number" class="form-control" name="deathYear" id="field_deathYear"
                           formControlName="deathYear"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="netzonApp.nameBasics.primaryProfession" for="field_primaryProfession">Primary Profession</label>
                    <input type="text" class="form-control" name="primaryProfession" id="field_primaryProfession"
                           formControlName="primaryProfession"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="netzonApp.nameBasics.knownForTitles" for="field_knownForTitles">Known For Titles</label>
                    <input type="text" class="form-control" name="knownForTitles" id="field_knownForTitles"
                           formControlName="knownForTitles"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
