<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="titleBasics">
            <h2><span jhiTranslate="netzonApp.titleBasics.detail.title">Title Basics</span> {{ titleBasics.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="netzonApp.titleBasics.titleType">Title Type</span></dt>
                <dd>
                    <span>{{ titleBasics.titleType }}</span>
                </dd>
                <dt><span jhiTranslate="netzonApp.titleBasics.primaryTitle">Primary Title</span></dt>
                <dd>
                    <span>{{ titleBasics.primaryTitle }}</span>
                </dd>
                <dt><span jhiTranslate="netzonApp.titleBasics.originalTitle">Original Title</span></dt>
                <dd>
                    <span>{{ titleBasics.originalTitle }}</span>
                </dd>
                <dt><span jhiTranslate="netzonApp.titleBasics.isAdult">Is Adult</span></dt>
                <dd>
                    <span>{{ titleBasics.isAdult }}</span>
                </dd>
                <dt><span jhiTranslate="netzonApp.titleBasics.startYear">Start Year</span></dt>
                <dd>
                    <span>{{ titleBasics.startYear }}</span>
                </dd>
                <dt><span jhiTranslate="netzonApp.titleBasics.endYear">End Year</span></dt>
                <dd>
                    <span>{{ titleBasics.endYear }}</span>
                </dd>
                <dt><span jhiTranslate="netzonApp.titleBasics.runTimeMinutes">Run Time Minutes</span></dt>
                <dd>
                    <span>{{ titleBasics.runTimeMinutes }}</span>
                </dd>
                <dt><span jhiTranslate="netzonApp.titleBasics.genres">Genres</span></dt>
                <dd>
                    <span>{{ titleBasics.genres }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/title-basics', titleBasics.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
