<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-title-ratings-heading" jhiTranslate="netzonApp.titleRatings.home.createOrEditLabel">Create or edit a Title Ratings</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="netzonApp.titleRatings.numvotes" for="field_numvotes">Numvotes</label>
                    <input type="number" class="form-control" name="numvotes" id="field_numvotes"
                           formControlName="numvotes"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="netzonApp.titleRatings.averageRating" for="field_averageRating">Average Rating</label>
                    <input type="number" class="form-control" name="averageRating" id="field_averageRating"
                           formControlName="averageRating"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="netzonApp.titleRatings.titleBasics" for="field_titleBasics">Title Basics</label>
                    <select class="form-control" id="field_titleBasics" name="titleBasics" formControlName="titleBasics">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="titleBasicsOption.id === editForm.get('titleBasics')!.value?.id ? editForm.get('titleBasics')!.value : titleBasicsOption" *ngFor="let titleBasicsOption of titlebasics; trackBy: trackById">{{ titleBasicsOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
